.formulario{
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    padding: 50px;

    .descripcion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 50px;
    }

    img{
        width: 250px;
        height: 90px;
    }

    p{
        font-size: 30px;
    }
}

