
.bg-motorcode{
    background-color: rgb(0, 0, 0);

    .nav-link{
        color: #f9f8fa;
        font-size: 30px;
        
}

.nav-motorcode{
    justify-content: flex-end;
}

.nav-link.active{
    color:#02fb51;
}
}


.links{
    text-align: center;

    p{
        text-align: right;
    }
}

.ft-motorcode{
    background-color: black;

    p{
        color: white;
    }

    a{
        text-decoration: none;
        color:white;
        align-items: center;
    }

    ul{
        img{
            height: 45px;
        }
    }

    @include mobile{
        flex-direction: column;
    }

    @include tablet{
        flex-direction: column;
    }
}

