* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/*font-family: "Jersey 15", serif;*/
body {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inicio h1 {
  font-size: 50px;
}
@media screen and (max-width: 576px) {
  .inicio h1 {
    font-size: 30px;
  }
}
.inicio h2 {
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
}
@media screen and (max-width: 576px) {
  .inicio h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 576px) {
  .inicio_motos p {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .inicio_motos p {
    font-size: 25px;
  }
}

.info {
  flex: 1;
  font-size: 30px;
}
.info h2 {
  margin-top: 0;
}

.nosotros p {
  font-size: 20px;
}

.titulo {
  font-weight: bold;
  font-size: 20px;
}

.btnenviar {
  background-image: linear-gradient(150deg, rgb(54, 253, 54), rgb(11, 255, 194), rgb(0, 255, 255));
  font-size: 25px;
  border-radius: 8px;
  display: flex;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
}
.btnenviar button {
  background-color: black;
  padding: 16px 24px;
  border-radius: 6px;
  transition: 0.3s;
}
.btnenviar .btnenviar:hover button {
  background: none;
}
.btnenviar .btnenviar:active {
  transform: scale(0, 5);
}

.inicio video {
  width: 2440px;
  height: 720px;
}
@media screen and (max-width: 576px) {
  .inicio video {
    width: auto;
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  .inicio video {
    width: auto;
    height: 200px;
  }
}

.logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "motomel bajaj cfmoto gilera" "suzuki tvs voge zanella";
  margin: auto;
  max-width: 1500px;
  align-items: center;
  justify-items: center;
}
@media screen and (max-width: 576px) {
  .logos {
    display: block;
  }
}
.logos img {
  display: flex;
  width: 300px;
  height: 200px;
  border: 2px solid black;
  margin: 50px;
}
@media screen and (max-width: 576px) {
  .logos img {
    height: 150px;
    width: auto;
  }
}

.contenido {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 1500px;
  margin: auto;
  flex-wrap: wrap;
}
.contenido img {
  display: flex;
  flex-direction: column;
  width: 890px;
  height: 800px;
  flex: 1;
}
@media screen and (max-width: 576px) {
  .contenido img {
    width: 400px;
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  .contenido img {
    width: 400px;
    height: 350px;
  }
}
.contenido h1 {
  font-weight: bold;
}
@media screen and (max-width: 576px) {
  .contenido p {
    font-size: 15px;
  }
}

table {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
table th {
  background-color: #f4f4f4;
  border: 1px solid black;
}
table th td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.grid-container {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: repeat(5, 500px);
  justify-content: center;
  align-items: center;
  max-width: 1176px;
  margin: auto;
}
@media screen and (max-width: 576px) {
  .grid-container {
    grid-template-columns: 300px;
    grid-template-rows: repeat(1, 500px);
  }
}
.grid-container img {
  width: 480px;
  height: 425px;
}
@media screen and (max-width: 576px) {
  .grid-container img {
    width: 100%;
    height: 100%;
  }
}
.grid-container p {
  font-size: 25px;
}
.grid-container article {
  padding: 40px 20px;
}

.grid-area {
  padding: 40px 20px;
}

.mapa {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 1500px;
  margin: auto;
  flex-wrap: wrap;
}
.mapa h3 {
  font-size: 50px;
  text-align: center;
}
.mapa p {
  font-size: 30px;
  text-align: center;
}
.mapa h2 {
  text-align: left;
}
.mapa img {
  width: 700px;
  height: 500px;
}
@media screen and (max-width: 576px) {
  .mapa img {
    height: 100%;
    width: 100%;
  }
}

.carrusel-motorcode img {
  height: 750px;
}
@media screen and (max-width: 576px) {
  .carrusel-motorcode img {
    height: 100%;
    width: 100%;
  }
}

.bg-motorcode {
  background-color: rgb(0, 0, 0);
}
.bg-motorcode .nav-link {
  color: #f9f8fa;
  font-size: 30px;
}
.bg-motorcode .nav-motorcode {
  justify-content: flex-end;
}
.bg-motorcode .nav-link.active {
  color: #02fb51;
}

.links {
  text-align: center;
}
.links p {
  text-align: right;
}

.ft-motorcode {
  background-color: black;
}
.ft-motorcode p {
  color: white;
}
.ft-motorcode a {
  text-decoration: none;
  color: white;
  align-items: center;
}
.ft-motorcode ul img {
  height: 45px;
}
@media screen and (max-width: 576px) {
  .ft-motorcode {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .ft-motorcode {
    flex-direction: column;
  }
}

.nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  max-width: 1176px;
  margin: auto;
}

.formulario {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  padding: 50px;
}
.formulario .descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
}
.formulario img {
  width: 250px;
  height: 90px;
}
.formulario p {
  font-size: 30px;
}

/*# sourceMappingURL=estilos.css.map */
